body {
  background-color: #040407;
  color: #eeeeee;
font-family: 'Space Mono', sans-serif;
  text-align: center;
}

h1 {
  colour: rgb(219, 186, 0);
}
ul {
  list-style: none;
}

li {
  color: lightgreen;
}